@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.about-section {
    background: linear-gradient(to top, #1296df, black);
    padding: 60px 0;

    position: relative;
    z-index: 2;
    /* Content will stay above the image */
    scroll-margin-top: 125px !important;
    animation: fadeIn 1s;
}

.about-section::before {
    content: '';
    background: url('../../Assets/line-shape.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    opacity: 0.6;
    z-index: 1;
}

.about-section::after {
    content: '';
    background: url('../../Assets/mask-shape.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 40%;
    opacity: 0.6;
    z-index: 1;
}


.about-section h2 {
    color: white;
    font-weight: bold;
}

.about-section p {
    color: white;
    font-size: 16px;
}


.about-section .card {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 20px;
    transition: transform 0.2s ease;
}

.about-section .card:hover {
    transform: translateY(-5px);
}

.about-section .card .fa {
    color: #007bff;
    font-size: 2.5rem;
    margin-right: 15px;
}

.about-section i {
    color: #1586c5 !important;
}