.contact-container {
    background-color: #000;
    color: white;
    padding: 50px 20px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.contact-info {
    flex: 1;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    margin-left: 200px;
}

.contact-info h3 {
    margin-bottom: 30px;
}

.contact-details .contact-item {
    margin-bottom: 20px;
}

.contact-details a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.contact-details i {
    margin-right: 10px;
}

.social-links a {
    margin-right: 15px;
    font-size: 1.5rem;
    color:#1296DF;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ffffff;
}

.contact-form {
    flex: 1;
    padding: 20px;
}

.contact-form h3 {
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid #555;
    border-radius: 5px;
    color: white;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #999;
}

.form-button {
    background: transparent;
    border: 2.5px solid #1296DF;
    color: #1296DF;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 600;
}

.form-button:hover {
    background: white;
}

@media (max-width: 768px) {
    .contact-info{
        margin-left: 50px;
    }
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        flex-direction: column;
        gap: 0;
    }
}
