@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.team-section-container {
    padding: 50px 0;
    background: url('../../Assets/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 65px 0px 0px 0px;
    scroll-margin-top: 125px;
    animation: fadeIn 1s;
}

.section-header {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
}

.section-title {
    /* border-bottom: 3px solid #e99f27; */
    padding-bottom: 5px;
}

.team-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 25px;
    transition: transform 0.3s;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0.4px 0.4px 1rem rgba(35, 52, 53, 0.25);
    /* box-shadow: 3px 3px 10px 0px #5c8ba7; */
}

.team-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    box-shadow: 8px 8px 1rem rgba(35, 52, 53, 0.25);
    
}

.team-info {
    color: #333;
}

.team-name {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 5px;
}

.team-role {
    font-size: 1em;
    color: #777;
    margin-bottom: 15px;
}

.social-icons a {
    color: #555;
    font-size: 1.25em;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #1586c5;
}